
[submodule "next-gen"]
	path = turbo
	url = https://github.com/next-dev-team/next-gen
	branch = turbo
[submodule "turbo"]
	path = turbo
	url = https://github.com/next-dev-team/next-gen
	branch = turbo
