[submodule "libs/next-gen"]
	path = libs/next-gen
	url = https://github.com/next-dev-team/next-gen
	branch = main
[submodule "next-gen"]
	path = next-gen
	url = https://github.com/next-dev-team/next-gen
	branch = main
[submodule "next-gen/turbo/generators"]
	path = next-gen/turbo/generators
	url = https://github.com/next-dev-team/next-gen
	branch = main
